:80

# Проксируем API
handle_path /api/* {
    reverse_proxy backend:8000
}

# Обслуживаем медиа-файлы из бэкенда
#handle_path /images/* {
 #   root * /backend/media
  #  file_server
#}

# Отдаём ассеты, HTML и fallback
handle {
    root * /srv
    try_files {path} /index.html
    file_server
}

