
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/db:/app/db
      - ./backend/media:/app/media
      - ./backend/drafts:/app/drafts
    networks:
      - ctf-network

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "81:81" # Caddy работает на порту 80
    depends_on:
      - backend
    networks:
      - ctf-network

networks:
  ctf-network:
    driver: bridge