.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-surface-a0);
  height: 100vh;
  width: 100vw;
  padding: 20px;
  overflow: hidden;
  position: fixed;
  font-family: "Carlito", sans-serif;
  top: 0;
  left: 0;
}
