.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--clr-surface-a10);
  color: var(--clr-dark-a0);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Carlito", sans-serif;
  font-weight: 400;
}

.button:hover,
.button:hover::before {
  background-color: var(--clr-surface-tonal-a10);
}

.buttonGreen {
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--clr-primary-a10);
  color: var(--clr-dark-a0);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Carlito", sans-serif;
  font-weight: 400;
  box-shadow: 2px 2px 10px var(--clr-surface-a40);
}

.buttonGreen {
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--clr-primary-a10);
  color: var(--clr-dark-a0);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Carlito", sans-serif;
  font-weight: 400;
  box-shadow: 2px 2px 10px var(--clr-surface-a40);
}

.buttonLightGreen {
  display: inline;
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--clr-primary-a30);
  color: var(--clr-dark-a0);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Carlito", sans-serif;
  font-weight: 800;
  transition: padding 0.3s ease;
  margin-right: auto;
}

.buttonLightGreen:hover,
.buttonLightGreen:hover::before {
  background-color: var(--clr-primary-a40);
}

.buttonBlack {
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--clr-surface-a10);
  color: var(--clr-primary-a30);
  border: 1.5px solid var(--clr-surface-a30);
  border-radius: 10px;
  cursor: pointer;
  font-family: "Carlito", sans-serif;
  font-weight: 800;
  transition: background-color 0.3s ease;
}

.buttonBlack:hover,
.buttonBlack:hover::before {
  background-color: var(--clr-surface-a30);
}

.buttonBlack:disabled {
  background-color: transparent;
  cursor: default;
  color: transparent;
  border: none;
}
