.button {
  background-color: var(--clr-accent);
  height: 36px;
  padding-top: auto;
  padding-bottom: auto;
  padding-left: 18px;
  padding-right: 18px;
  gap: 10px;
  align-items: center;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.button:hover,
.button:hover::before {
  background-color: var(--clr-accent-hover);
  transition-duration: var(--transition-duration);
}

.buttonWhite {
  background-color: var(--clr-light);
  height: 32px;
  padding-top: auto;
  padding-bottom: auto;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid var(--clr-dark);
  font-weight: 600;
  cursor: pointer;
  transition: ease;
}

.buttonWhite:hover,
.buttonWhite:hover::before {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  transition-duration: var(--transition-duration);
}

.buttonGrey {
  display: inline-flex;
  background-color: var(--clr-grey-1);
  height: 36px;
  padding-top: auto;
  padding-bottom: auto;
  padding-left: 18px;
  padding-right: 18px;
  align-items: center;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: ease;
}

.buttonGrey img {
  width: 20px;
  height: 20px;
  margin-right: 10px; /* Отступ между иконкой и текстом */
}

.buttonGrey:hover,
.buttonGrey:hover::before {
  background-color: var(--clr-grey-2);
  transition-duration: var(--transition-duration);
}

.icon-button {
  display: inline-flex;
  background: none;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
}

.icon-button:hover,
.icon-button:hover::before {
  transition-duration: var(--transition-duration);
}
