:root {
  /** Base colors */
  --clr-dark: #000000;
  --clr-light: #ffffff;
  --clr-grey-0: #f4f4f4;
  --clr-grey-1: #edeef0;
  --clr-grey-2: #cecece;
  --clr-accent: #f8c028;
  --clr-accent-hover: #ffcd43;
  --clr-bouns: #ff2a6a;
}
