.photo-container {
    max-height: 400px;
    max-width: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-grey-0);
    border-radius: 8px;
    margin: 16px 0;
}

.photo-image {
    max-width: 100%;
    object-fit: contain;
}

.photo-loader {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: var(--clr-dark);
    text-align: center;
    padding: 20px;
}

.photo-error {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: var(--clr-bouns);
    text-align: center;
    padding: 20px;
}
